biopython
Django==3.2.5
django-admin-honeypot==1.1.0
django-session-timeout==0.1.0
djangorestframework==3.11.2
python-decouple
psycopg2
psycopg2-binary
gunicorn
pandas
PyYAML
uritemplate
urllib3
Unidecode
tqdm
django-better-admin-arrayfield
django-jazzmin
django-filter
django-cors-headers
requests
pylev
django-extensions
#end of file