biopython
Django==3.0.11
djangorestframework==3.11.2
python-decouple
psycopg2
psycopg2-binary
gunicorn
pandas
PyYAML
uritemplate
urllib3
Unidecode
tqdm
django-better-admin-arrayfield
django-jazzmin
#end of file
