biopython
Django~=5.2.11
djangorestframework~=3.16.1
python-decouple
psycopg
gunicorn
pandas
PyYAML
uritemplate
urllib3
Unidecode
tqdm
django-better-admin-arrayfield
django-jazzmin
django-filter
django-cors-headers
requests
rdflib
rdflib-jsonld
pylev
django-extensions
opencage
markdown
huey
# needed by openapi
inflection
pytz
#end of file
