{% extends 'admin/change_form.html' %}

{% block object-tools %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            Training courses
        </h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <a role="button" href="{% url 'new_training_course' original.pk %}" class="btn btn-outline-primary form-control">Create a new session</a>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock %}