[Unit]
Description=IFB Catalogue service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/var/ifbcat-src
Type=simple
TimeoutStartSec=15min
Restart=always

ExecStartPre=/bin/sh -c 'while ! /usr/bin/docker info >/dev/null 2>&1; do echo "Waiting for Docker..."; sleep 1; done'

ExecStart=/usr/local/bin/start-ifbcat.sh

ExecStop=/usr/bin/docker compose down --remove-orphans

[Install]
WantedBy=multi-user.target
