[Unit]
Description=IFB Catalogue service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/var/ifbcat-src/%i
Type=simple
TimeoutStartSec=15min
Restart=always

ExecStartPre=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStartPre=/usr/bin/docker-compose build --pull --build-arg CI_COMMIT_SHA=$(git rev-parse HEAD) --build-arg CI_COMMIT_DATE="$(git log -1 --format="%ai")"

ExecStart=/usr/bin/docker-compose up --remove-orphans

ExecStop=/usr/bin/docker-compose down --remove-orphans

ExecReload=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/bin/docker-compose build --pull

[Install]
WantedBy=multi-user.target
