[Unit]
Description=IFB Catalogue service
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
WorkingDirectory=/var/ifbcat-src/%i
Type=simple
TimeoutStartSec=15min
Restart=always

ExecStartPre=/bin/bash -c "/bin/systemctl set-environment CI_COMMIT_SHA=$(cd /var/ifbcat-src && git rev-parse HEAD)"
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment CI_COMMIT_DATE=\"$(cd /var/ifbcat-src && git log -1 --format="%%ai")\""
ExecStartPre=/usr/bin/docker image prune -a  --force --filter "until=24h"
ExecStartPre=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStartPre=/usr/bin/docker-compose build --pull --build-arg CI_COMMIT_SHA=${CI_COMMIT_SHA} --build-arg CI_COMMIT_DATE="${CI_COMMIT_DATE}" web db adminer nginx nginx-https

ExecReload=/usr/bin/docker image prune -a  --force --filter "until=24h"
ExecReload=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecReload=/usr/bin/docker-compose build --pull --build-arg CI_COMMIT_SHA=${CI_COMMIT_SHA} --build-arg CI_COMMIT_DATE="${CI_COMMIT_DATE}" web
ExecReload=/usr/bin/docker-compose stop web
ExecReload=/usr/bin/docker-compose rm -f -v web
ExecReload=/usr/bin/docker-compose create --force-recreate  web
ExecReload=/usr/bin/docker-compose start  web

ExecStart=/usr/bin/docker-compose up --remove-orphans

ExecStop=/usr/bin/docker-compose down --remove-orphans

[Install]
WantedBy=multi-user.target
