{% extends "rest_framework/base.html" %}

{% block style %}
{{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css"/>
<style>
.multiselect-container input[type="checkbox"] {width: auto;}
</style>
{% endblock %}

{% block script %}
{{block.super}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("select[multiple]").multiselect({enableFiltering: true,});
    });
</script>
{% endblock %}